@CHARSET "UTF-8";
a {
  /*color: #50D225; */
  color: #BCBCFF;
  text-decoration: none;
}
a:hover {
  /*color: #9999FF;*/
  /*color: #69FF37;*/
  color: #AFAFFF;
  text-shadow: 0 0 2px #c0c0c0;
  text-decoration: underline;
}
p {
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
}
h1, h2, h3 {
  margin-top: 40px;
  font-weight: 500;
}
h3 {
  font-size: 19px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
hr {
  height: 0px;
  border: none;
  border-top: 1px solid #9B918C;
}