/*
 * Batik CSS: Navigation, Section-Titles etc., nicht der normale Text
 */
* {
  color: #f8f8f8;
  background-color: #74635C;
  background-image: none;
  font: 14px/120% 'Droid Sans', Helvetica, Arial, sans-serif;
}

/* Navigation */
Composite, Composite[BORDER] {
  font: 14px/120% 'Droid Sans', Helvetica, Arial, sans-serif;
  color: #f8f8f8;
  background-color: #74635C;
  /*background-color: #9B918C;*/
}
Shell.atlas-shell {
  background-image: none;
  background-color: #74635C;
  border: none;
  color: #f8f8f8;
}
Label.up-header, Composite.up-header {
  font: 35px/120% Arial, Helvetica, sans-serif;
  color: #f8f8f8;
  background-image: none;
  background-color: #74635C;
  border: none;
}

Button[TOGGLE].atlas-navi, Button[PUSH].atlas-navi {
  font: 14px/120% 'Droid Sans', Helvetica, Arial, sans-serif;
  color: #f8f8f8;
  background-color: #74635C;
  background-image: none;
  border: none;
  text-shadow: none;
  border-radius: 3px;
}
Button[TOGGLE]:selected.atlas-navi, Button[TOGGLE]:hover.atlas-navi, Button[PUSH]:hover.atlas-navi {
  font: 14px/120% 'Droid Sans', Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #9B918C;
  background-image: none;
  border: none;
}

/* 
 * Batik Panel 
 */
.batik-panel, [BORDER].batik-panel {
  font: 14px/120% 'Droid Sans', Helvetica, Arial, sans-serif;
  color: #f8f8f8;
  background-color: #74635C;
  background-image: none;
}

/* 
 * Batik Panel Section 
 */
Composite.batik-panel-section, Composite[BORDER].batik-panel-section {
  background-color: #74635C;
}
Composite.batik-panel-section-client, Composite[BORDER].batik-panel-section-client {
  /*background-color: #74635C;*/
}
Label.batik-panel-section-title {
  font: 22px/100% 'Droid Sans', Helvetica, Arial, sans-serif;
  background-color: #74635C;
  color: #f8f8f8;
  border: none;
}
Label:disabled.batik-panel-section-title {
  opacity: 0.3;
}
Label[SEPARATOR].batik-panel-section-separator, Label.batik-panel-section-separator {
  background-color: #303030;
  color: #f8f8f8;
}

Label-SeparatorLine.batik-panel-section-separator {
  background-image: none;
  background-color: #CDC0B9;
  border: 0px solid #000000;
  width: 1px;
  color: #000000;
}
/*Label-SeparatorLine[SHADOW_IN] {
  width: 0px;
  border: 0px inset #74635C;
}
Label-SeparatorLine[SHADOW_OUT] {
  width: 1px;
  border: 1px solid #9B918C;
}*/


/* */
Label {
  font: 14px/120% 'Droid Sans', Helvetica, Arial, sans-serif;
  color: #f8f8f8;
}

/* ScrollBar */
ScrollBar {
  background-color: #74635C;
  background-image: none;
  border: none;
  width: 10px;
}
ScrollBar-Thumb {
  background-color: #9B918C;
  border: 0px solid #cdcdcd;
  border-radius: 15px;
  background-image: none;
  min-height: 20px;
}
ScrollBar-UpButton, ScrollBar-DownButton {
  background-color: transparent;
  border: none;
  cursor: default;
}
ScrollBar-UpButton[HORIZONTAL] {
  background-image: url(resources/icons/rap/scrollbar/right.png );
}
ScrollBar-DownButton[HORIZONTAL] {
  background-image: url(resources/icons/rap/scrollbar/left.png );
}
ScrollBar-UpButton[VERTICAL] {
  background-image: url(resources/icons/rap/scrollbar/down.png )
}
ScrollBar-DownButton[VERTICAL] {
  background-image: url(resources/icons/rap/scrollbar/up.png );
}
