<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="de.ulrike-philipp.branding"
            class="org.polymap.rhei.batik.BatikApplication"
            id="up.entrypoint"
            path="/up">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="de.ulrike-philipp.branding"
            themeId="de.ulrike-philipp.theme"
            title="Ulrike Philipp">
         <additionalHeaders>
            <link
                  href="upres/css/flowtext.css"
                  rel="stylesheet"></link>            
            <link
                  href="batikres/css/roboto.css"
                  rel="stylesheet">
            </link>
            <!--link
                  href="http://fonts.googleapis.com/css?family=Droid+Sans"
                  rel="stylesheet">
            </link-->
         </additionalHeaders>
      </branding>
   </extension>
   <extension
         point="org.polymap.rhei.batik.design">
      <design
            class="de.ulrikephilipp.UpCmsAppDesign"
            id="de.ulrike-philipp.design"
            servletNameMatcher="/up">
      </design>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="resources/css/ullis.css"
            id="de.ulrike-philipp.theme">
      </theme>
   </extension>
   <extension
         point="org.polymap.rhei.batik.panels">
      <panel
            class="de.ulrikephilipp.StartPanel"
            id="de.ulrike-philipp.StartPanel"
            stackPriority="100">
      </panel>
      <panel
            class="de.ulrikephilipp.TerminePanel"
            id="de.ulrike-philipp.TerminePanel">
      </panel>
      <panel
            class="de.ulrikephilipp.ImpressumPanel"
            id="de.ulrike-philipp.ImpressumPanel">
      </panel>
   </extension>
   <extension
         id="de.ulrike-philipp.app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.ulrikephilipp.UpApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/"
            class="de.ulrikephilipp.RedirectServlet"
            load-on-startup="true">
      </servlet>
   </extension>

</plugin>
